In [27]:
import pandas as pd
import numpy as np
import time

In [28]:
df = pd.read_csv("chicago.csv")

In [29]:
df['Start Time'] = pd.to_datetime(df["Start Time"])

In [30]:
df['month'] = df["Start Time"].dt.month
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,6
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,5
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,3
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1

In [31]:
df["day_of_week"] = df["Start Time"].dt.day_name()
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,6,Friday
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,5,Thursday
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,Wednesday
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,3,Monday
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,Tuesday

In [32]:
# filter by month if applicable
month = "january"

if month != 'all':
    # use the index of the months list to get the corresponding int
    months = ['january', 'february', 'march', 'april', 'may', 'june']
    month = months.index(month) + 1

    # filter by month to create the new dataframe
    df = df[df["month"] == month]

In [33]:
day = "all"
# filter by day of week if applicable
if day != 'all':
    # filter by day of week to create the new dataframe
    df = df[df["day_of_week"] == day.title()]

In [34]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,Wednesday
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,Tuesday
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN,1,Saturday
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0,1,Sunday
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0,1,Sunday

In [35]:
print('\nCalculating The Most Popular Stations and Trip...\n')
start_time = time.time()

# display most commonly used start station
start = df["Start Station"].mode()[0]
print("Most commonly used start station:", start)

# make a dataframe for only the most commonly used start station to make it easy for 
# finding the end station
s_frame = df[df["Start Station"] == start]

# display most commonly used end station
last = df["End Station"].mode()[0]
print("Most commonly used end station:", last)

# display most frequent combination of start station and end station trip
comb = df[["Start Station", "End Station"]].value_counts()[0]
print("MFC for both the start and the end:", comb)


print("\nThis took %s seconds." % (time.time() - start_time))
print('-'*40)

Calculating The Most Popular Stations and Trip...

Most commonly used start station: Clinton St & Washington Blvd
Most commonly used end station: Clinton St & Washington Blvd
MFC for both the start and the end: 29

This took 0.022978544235229492 seconds.
----------------------------------------

In [36]:
"""Displays statistics on the most frequent times of travel."""
cond = None
print('\nCalculating The Most Frequent Times of Travel...\n')
start_time = time.time()
if cond != "both":
    # display the most common month
    if (cond == None) or (cond == "month"):
        com_month = df["month"].mode()[0]
        print("Most common month:", com_month)
    
    # display the most common day of week
    if (cond == None) or (cond == "day"):
        com_day = df["day_of_week"].mode()[0]
        print("Most common day of week:", com_day)
    
# display the most common start hour
com_hour = df["Start Time"].dt.hour.mode()[0]
print("Most common start hour:", com_hour)

print("\nThis took %s seconds." % (time.time() - start_time))
print('-'*40)

Calculating The Most Frequent Times of Travel...

Most common month: 1
Most common day of week: Tuesday
Most common start hour: 17

This took 0.009984731674194336 seconds.
----------------------------------------

In [37]:
df["Start Time"].dt.hour.mode()[0]

17

In [38]:
"""Displays statistics on the total and average trip duration."""

print('\nCalculating Trip Duration...\n')
start_time = time.time()

# display total travel time
t_time = df["Trip Duration"].sum()
print("Total travel time:", t_time)

# display mean travel time
avg_time = df["Trip Duration"].mean()
print("The average duration:", avg_time)

print("\nThis took %s seconds." % (time.time() - start_time))
print('-'*40)

Calculating Trip Duration...

Total travel time: 14826150
The average duration: 679.8179650602962

This took 0.001001596450805664 seconds.
----------------------------------------

In [39]:
df["Trip Duration"].mean()

679.8179650602962

In [40]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,Wednesday
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,Tuesday
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN,1,Saturday
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0,1,Sunday
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0,1,Sunday

In [41]:
"""Displays statistics on bikeshare users."""

print('\nCalculating User Stats...\n')
start_time = time.time()

# Display counts of user types
u_types = df["User Type"].value_counts().index.tolist()

for x in u_types:
    value = df["User Type"].value_counts()[u_types.index(x)]
    print(x + ":", value)
print('*'*20)

# Display counts of gender
g_types = df["Gender"].value_counts().index.tolist()

for x in g_types:
    value = df["Gender"].value_counts()[g_types.index(x)]
    print(x + ":", value)
print('*'*20)

# Display earliest, most recent, and most common year of birth
print("The most earliest year of birth:", int(df["Birth Year"].min()))
print("The most recent year of birth:", int(df["Birth Year"].max()))
print("The most common year of birth", int(df["Birth Year"].mode()[0]))

print("\nThis took %s seconds." % (time.time() - start_time))
print('-'*40)

Calculating User Stats...

Subscriber: 20794
Customer: 1015
********************
Male: 16745
Female: 4059
********************
The most earliest year of birth: 1899
The most recent year of birth: 2000
The most common year of birth 1989

This took 0.017979860305786133 seconds.
----------------------------------------

In [42]:
print(df["Birth Year"].max())
print(df["Birth Year"].min())
print(df["Birth Year"].mode()[0])

2000.0
1899.0
1989.0

In [43]:
print(df["Birth Year"].mode())

0    1989.0
dtype: float64

In [44]:
start = 0
   
while True:
    if start == 0:
        show = input("Would you like to see 5 lines of raw data?\n").strip().lower()
    else:
        show = input("Would you like to see another 5 lines of raw data?\n").strip().lower()
    if show == "yes":
        end = start + 5 
        print(df[start:end])
        start = end
    elif show == "no":
        break

Would you like to see 5 lines of raw data?
no

In [45]:
comb = df[["Start Station", "End Station"]].value_counts()[0]
comb

29

In [58]:
comb = df[["Start Station", "End Station"]].count()
comb

Start Station    21809
End Station      21809
dtype: int64